.bntSim{
    background-color: hwb(145 32% 20% / 0.705) !important;
    border-color: hwb(145 32% 20% / 0.705) !important;
    box-shadow: 3px 3px 7px hwb(145 28% 49% / 0.705);
    color: white !important;
    font-weight: bold !important;
}

.bntSim:hover{
    background-color: hwb(145 60% 10% / 0.548) !important;
    border-color: hwb(145 32% 20% / 0.705) !important;
}

.bntNao{
    background-color: hwb(0 8% 0% / 0.486) !important;
    border-color: hwb(0 8% 0% / 0.596) !important;
    box-shadow: 3px 3px 7px hwb(0 29% 24% / 0.596);
    color: white !important;
    font-weight: bold !important;
}

.bntNao:hover{
    background-color: hwb(0 51% 5% / 0.521) !important;
    border-color: hwb(0 38% 2% / 0.445) !important;
}

.deseja-deletar{
    color: white;
    
}

.box-deletar{
 background-color: rgba(53, 53, 53, 0.733);
}

.texto-postagem{
    color: white;
}

.deseja-deletar:hover{
    color: rgba(54, 3, 3, 0.514)
}

.texto-postagem:hover{
    color: rgba(54, 3, 3, 0.514)
}