.textos1{
    color: #2f184b;
    /* font-weight: bold !important; */
}

.textos1:hover{
    color: #33125e;
    font-weight: bold !important;
}

.entrar{
    color: #2f184b;
    font-weight: bold !important; 
}

.entrar:hover{
    color: #613a94;
    font-weight: bold !important; 
}

.text-decorator-none{
    text-decoration: none;
    color: white;
    font-weight: bold !important;
}

.botao{
    background-color: #2f184b !important;
    color:#FFFFFF !important;
    border-radius: 15px !important;
    font-weight: bold !important;
 }

 .botao:hover{
    background-color: #20064163 !important;
    color:#1e0333 !important;
    font-weight: bold !important;
 }
 
 .imagem{
    background-image: url(../../../src/assets/images/testando_log.svg);
    background-repeat:no-repeat; 
    width:70vh;
    min-height: 90vh;
    /* background-size: cover; */
    background-position: center;
}

.cor-fundo{
   background-color: #7552a05b;
}

.box-login{
    background-color: #401c6b3d;
    border-radius: 30px;
    width:60vh;
    min-height: 80vh;
    padding-top: 20px;
    padding-left:20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.466), -2px -2px 4px rgba(255, 255, 255, 0.219);
}

.nao-tem-conta{
    color: #532b88;
    /* font-weight: bold !important */
}

.nao-tem-conta:hover{
    color: #33125e;
    font-weight: bold !important
}
