.botao-tema{
    border-color: #885cc2  !important;
    background-color: hwb(266 26% 39%) !important;
    box-shadow: 3px 3px 7px #2b203a;
    color: white !important;
    font-weight: bold !important;
}
/* 

.botao-postagem{
    border-color: #885cc2  !important;
    background-color: hwb(266 26% 39%) !important;
    box-shadow: 3px 3px 7px #2b203a;
    color: white !important;
    font-weight: bold !important;
}


.botao-postagem:hover{
    background-color: hwb(267 18% 67%) !important;
    border-color: hwb(267 18% 67%) !important;
}

.botao-tema:hover{
    background-color: hwb(267 18% 67%) !important;
    border-color: hwb(267 18% 67%) !important;
} */

.imagemHome{
    width:50px; 
    height:60px;
    filter: opacity(65%); 

}

.imagemLogo{
    width:110px !important; 
    height:90px !important;
    margin-right: 30px !important;
}