.topo{
    margin-top: 20px;
}

.btnFinalizar{
    border-color: #885cc2  !important;
    background-color: hwb(266 26% 39%) !important;
    color:#FFFFFF !important;
    border-radius: 15px !important;
    padding: 8px 
}

.btnFinalizar:hover{
    background-color: hwb(267 18% 67%) !important;
    border-color: hwb(267 18% 67%) !important;
}