
.cursor{
    cursor: pointer;
}

.btnModal{
    border-color: #885cc2 !important;
    background-color: hwb(266 26% 39%) !important;
    box-shadow: 3px 3px 7px #2b203a;
    color: white !important;
}

.btnModal:hover{
    background-color: hwb(267 18% 67%) !important;
    border-color: hwb(267 18% 67%) !important;
}