body::-webkit-scrollbar {
    width: 13px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #ff0054;    /* color of the scroll thumb */
    border-radius: 100px;       /* roundness of the scroll thumb */
    border: 1px solid rgba(255, 255, 255, 0);  /* creates padding around scroll thumb */
    
  }

  * {
    margin: 0
  }
 
