body::-webkit-scrollbar {
    width: 13px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #9a72cf;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #4e4d4d63;    /* color of the scroll thumb */
    border-radius: 100px;       /* roundness of the scroll thumb */
    border: 1px solid rgb(255, 255, 255);  /* creates padding around scroll thumb */
    
  }

  * {
    margin: 0
  }
 
